body {
	background-color: #204051;
	text-align: center;
}

h1 {
	font-size: 5rem;
	color: #e7dfd5;
	font-family: "Arvo", cursive;
	text-shadow: 3px 0 #DA0463;
}

footer {
	font-family: sans-serif;
	color: #e7dfd5;
}

.a{
	background-image: url("images/tom1.png");
}
.s{
	background-image: url("images/tom2.png");

}
.d{
	background-image: url("images/tom3.png");

}
.f{
	background-image: url("images/tom4.png");

}
.g{
	background-image: url("images/snare.png");

}
.h{
	background-image: url("images/crash.png");

}
.j{
	background-image: url("images/kick.png");

}

.pressed {
	box-shadow: 0 3px 4px 0 #DBEDF3;
	opacity: 0.5;
}

.red {
	color: red;
}

.set{
	margin: 10% auto;
}

.drum {
	outline: none;
	border: 10px solid #404B69;
	border-radius: 20px;
	font-size: 5rem;
	font-family: 'Arvo', cursive;
	line-height: 2;
	font-weight: 900;
	color: #DA0463;
	text-shadow: 3px 0 #e7dfd5;
	width: 150px;
	height: 150px;
	text-align: center;
	margin: 10px;
	background-color: white;
	display: inline-block;
}
